openapi: "3.0.3"

info:
  title: Pgenie Service
  version: "1.0"

servers:
  - url: https://pgenie.tech/api/v1

paths:
  /codegen:
    summary: Code generator
    post:
      summary: Process input and generate code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - org
                - name
                - migrations
                - queries
              properties:
                migrations:
                  type: array
                  minItems: 1
                  maxItems: 1000
                  items:
                    type: object
                    required:
                      - name
                      - contents
                    properties:
                      name:
                        type: string
                        minLength: 1
                        maxLength: 100
                      contents:
                        type: string
                        maxLength: 100000
                queries:
                  type: array
                  minItems: 0
                  maxItems: 1000
                  items:
                    type: object
                    required:
                      - name
                      - contents
                    properties:
                      name:
                        type: string
                        minLength: 1
                        maxLength: 100
                      contents:
                        type: string
                        maxLength: 10000
      responses:
        200:
          description: Generated
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                    - path
                    - contents
                  properties:
                    path:
                      type: string
                      minLength: 1
                    contents:
                      type: string
                      minLength: 1
                minItems: 1
        400:
          description: Code generation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/message"
        410:
          $ref: "#/components/responses/unsupported"

components:
  responses:
    unsupported:
      description: Unsupported version of API
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/message"

  schemas:

    message:
      type: string
      minLength: 1
      maxLength: 200
